
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: #111;
    scroll-behavior: smooth;
}

main{
    padding: 0 10px 0 10px;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, .8);
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.logo {
    display: flex;
}

.logo-img img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
    cursor: pointer;
}

.logo-text {
    cursor: pointer;
}

.nav-links {
    margin-right: 10px;
    display: flex;
    align-items: center;
    right: 0;

}

.closebtn {
    display: none;
    text-decoration: none;
}

.nav-links ul {
    display: flex;
    list-style: none; 
} 

.nav-links ul a {
    margin-right: 20px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.nav-links ul a:hover {
    color: lightgray;
    transition: .3s ease-in-out;
}
.toggle-menu {
    display: none;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

/* HERO */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.hero h2 {
    margin-bottom: 2rem;
}

.hero img {
    max-width: 300px;
}

/* Featured Artists */

.feature h2 {
    display: flex;
    justify-content: center;
}

.featured-artist {
    display: flex;
    gap: 1rem;
    max-width: 1600px;
    margin: 3rem auto 1rem auto;
    justify-content: space-between;
}

.artist-img {
    width: 48%;
    display: flex;
    margin: auto 0;
   
}
.artist-img img{
    width: 100%;
    
}

.artist-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.artist-img img {
    width: 100%;
}

/* INFO */

.info{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.artist-list {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
}

.info-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.info-text h3{
    margin-bottom: 40px;
}
.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}
.button{
    display: inline;
    justify-items: flex-end;
}

.button a{
    margin: 1rem;
    text-decoration: none;
    background-color: #111;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.button a:hover{
    background-color: #333;
}

/* CONTACT */
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    
}

 .contact h3 {
    margin-bottom: 3rem;
}

.contact p{
    margin-bottom: 2rem;
}

.container{
    width: 60%;
}

input[type=text], select, textarea {
    background-color: #f2f2f2;
    width: 100%; /* Full width */
    padding: 12px; /*Some padding  */
    border: 1px solid #ccc; /*  Gray border */
    border-radius: 4px; /*  Rounded borders */
    box-sizing: border-box;  /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /*  Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #111;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #333;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    padding: 20px;
  }

 
 /* FOOTER */
 footer {
    width: 100%;
 }

.social {
display: flex;
align-content: center;
justify-content: center;
margin: 3rem 0;
gap: 1rem;
}
.social a{
    text-decoration: none;
    transition: 0.3s ease-in-out;
    color: #444;
}
.social a:hover{
    color: lightgray;
    transition: 0.1s ease-in-out;
}

.footer-link-col-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}


.logo-footer-col-left {
display: flex;
flex-direction: column;
gap: 1rem;
}
.logo-footer {
    display: flex;
}
.logo-footer-col {
    width: 25%;
    display: flex;
    align-items: center;
    margin-left: 8rem;
}
.logo-footer {
    display: flex;
    width: 100%;
    align-items: center;
}
.logo-text {
    display: flex;
    align-items: center;
}
.email{
    display: flex;
    align-items: center;
}
.email a{
    margin-left: .1rem;
    transition: 0.3s ease-in-out;
}
.email a:hover{
    color: #666;
    transition: 0.1s ease-in-out;
}

.footer-donate {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}
.footer-donate a{
    background-color: #111;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.logo-footer-col-right a:hover{
    background-color: #333;
}

.footer-link-col {
    width: 20%;
    line-height: 25px;
}
.footer-link-col h4{
    margin-bottom: 1rem;
}
.footer-link-col ul{
    list-style: none;
}
.footer-link-col ul a{
    text-decoration: none;
    transition: .3s ease-in-out;
}
.footer-link-col ul a:hover{
    color: lightgrey;
    transition: .1s ease-in-out;
}

.copyright {
    text-align: center;
    height: 25px;
    font-size: .8rem;
    margin-top: 1.5rem;
}


@media screen and (max-width: 1000px) {
    /* body {
        background-color: lightcoral;
    } */

    
    .featured-artist {
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .artist-img {
        width: 80%;
    }
    .artist-text {
        width: 80%;
        margin-bottom: 2rem;
    }

    .container {
        width: 70%;
    }

    .email a{
        font: .9rem;
    }
    .logo-footer-col {
        margin-left: 2rem;
    }
    .footer-link-col {
        width: 15%;
    }
}

@media screen and (max-width: 600px) {
    /* body {
          background-color: lightgreen;
        } */

        main{
            padding: 0;
        }

        nav{
            width: 100%;
            display: flex;
            background: rgba(255, 255, 255, .8);
        }
        .toggle-menu {
            
            text-decoration: none;
            display: flex;
            
        }
        .nav-links{
            z-index: 1;
            display: none;
            position: fixed;
            height: 100vh;
            width: 100%;
            justify-content: center;
            background-color: rgba(0, 0, 0, .8);
        }

        .closebtn {
            display: flex;
            z-index: 1;
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 40px;
            text-decoration: none;
            color: white;
            border-radius: 50%;
            height: 38px;
            width: 38px;
            align-items: center;
            justify-content: center;
        }

        .nav-links ul{
            display: flex;
            flex-direction: column;
            
        }
        .nav-links ul a{
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .artist-img {
            width: 100%;
        }
        .artist-text {
            width: 90%;
        }

        .info{
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
        .artist-list{
            margin-top: 50px;
        }
        .info-text{
            width: 90%;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 100px 0;
        }

        .contact{
            width: 100%;
        }
        .container {
            width: 100%;
        }
        .logo-footer{
           justify-content: center;
        }
        .logo-footer-col {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-left: 0rem;
        }

        .logo-footer-col-left {
            justify-content: center;
            margin: 0 0 50px 0;
        }
        .footer-link-col-container {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        .footer-link-col{
            margin-bottom: 2rem;
        }
        .footer-logo-text{
            display: none;
        }
        .footer-donate{
            margin-bottom: 1rem;
        }
        .footer-donate a:hover{
            background: #333;
        }

}
